
*{
    box-sizing: border-box;
    overflow: hidden;
}
body{
    background-color: black;
    font-family: 'Roboto', sans-serif;
}
.second-counter-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 98vh;
    width: 98vw;
}
.second-counter{
    color: white;
    padding: 1rem 3rem;
    border-radius: 1rem;
    font-size: 20rem;
}
p{
    margin: 0;
    padding: 1rem 3rem;
}