
*{
    box-sizing: border-box;
    overflow: hidden;
}
body{
    background-color: black;
    font-family: 'Roboto', sans-serif;
}
.second-counter-container{
    align-content: center;
    text-align: center;
    height: 98vh;
    width: 98vw;
}
.second-counter{
    color: white;
    padding: 1rem 3rem;
    border-radius: 1rem;
    font-size: 20rem;
}
#screen-video{
    border-radius: 1rem;
    border : 0.5rem solid black;
}
p{
    margin: 0;
    padding: 1rem 3rem;
}
.message-text-show{
    display:block;
    color:white;
    background-color: red;
    text-align: center;
    font-size: 120px;
    font-weight: 500;

    animation-name: parpadeo;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

    -webkit-animation-name:parpadeo;
    -webkit-animation-duration: 5s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
}
@-moz-keyframes parpadeo{  
    0% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes parpadeo {  
    0% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes parpadeo {  
    0% { opacity: 0.0; }
    100% { opacity: 1.0; }
}
.message-text-hide{
    display:none;
}